In [190]:
import pandas as pd

In [191]:
# Index, Series, Dataframe 
# 1, 1, 2 dimensional data structure

In [192]:
# Index -- is used to index another data structure in pandas
# 'Index' is singular
# Index ka plural -- Indices and Indexes
# Elements of Index object are called Indices.
# Multiple index objects would be called Indexes

In [193]:
# Types of Index object
# float64, int64, RangeIndex, boolean Index

In [194]:
ind = pd.Index([1,2,3,4,5])

In [16]:
ind

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [17]:
# Since pandas is built on top of Numpy

In [18]:
ind.ndim

1

In [19]:
ind.shape# tuple return

(5,)

In [20]:
ind.size

5

In [22]:
type(ind)

pandas.core.indexes.numeric.Int64Index

In [23]:
# Float Index

In [24]:
float_index = pd.Index([1,2,3, 4.5])

In [25]:
float_index

Float64Index([1.0, 2.0, 3.0, 4.5], dtype='float64')

In [26]:
range_index = pd.Index(range(1,20,3))

In [27]:
range_index

RangeIndex(start=1, stop=20, step=3)

In [28]:
range_index = pd.RangeIndex(1,20,3)

In [29]:
range_index

RangeIndex(start=1, stop=20, step=3)

In [30]:
# Index objects are iterable

In [31]:
ind

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [32]:
for ele in ind:
    print(ele)

1
2
3
4
5

In [33]:
squared_ind = [ele ** 2 for ele in ind]

In [34]:
squared_ind

[1, 4, 9, 16, 25]

In [35]:
# membership testing

In [36]:
ind

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [37]:
69 in ind

False

In [38]:
69 not in ind

True

In [39]:
# Index object is like a set but isme duplicate values allowed hoti hain

In [40]:
new_index = pd.Index([1,2,3,5,4,4,4,4])

In [41]:
new_index

Int64Index([1, 2, 3, 5, 4, 4, 4, 4], dtype='int64')

In [47]:
ind1 = pd.Index([1,2,3,4])
ind2 = pd.Index([2.0,5,6])

In [43]:
ind1, ind2

(Int64Index([1, 2, 3, 4], dtype='int64'), Int64Index([2, 5, 6], dtype='int64'))

In [48]:
intersection = ind1.intersection(ind2)

In [49]:
intersection

Float64Index([2.0], dtype='float64')

In [50]:
union = ind1.union(ind2)

In [51]:
union

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')

# Series

In [53]:
# Series are 1 dimensional data structure
# Series and Index me utna hi difference he jitna list and dictionary me he
# Series is like an associative array 
# Index is also an associative container but we can have only implicit indexing in that

In [54]:
ser = pd.Series([1,2,3,45])

In [55]:
ser

0     1
1     2
2     3
3    45
dtype: int64

In [56]:
ser = pd.Series([1,2,3,45], index = ['Abhishek', 'Abhilash', 'Rohan', 'Sameer'])

In [57]:
ser

Abhishek     1
Abhilash     2
Rohan        3
Sameer      45
dtype: int64

In [58]:
ser['Abhishek']

1

In [59]:
ser[0]

1

In [60]:
# When we use the Index parameter then we have defined the index explicitly.
# unlearn -- bhool jaao -- indices, indexes, index
ser = pd.Series([1,2,3,4,5], index = ['a','b','c','a','b'])

In [61]:
ser

a    1
b    2
c    3
a    4
b    5
dtype: int64

In [62]:
ser['a'] # It is like dictionary but not dictionary

a    1
a    4
dtype: int64

In [63]:
ser[0]

1

In [64]:
# series pe hum built ins functions lga skte hain

In [65]:
ser

a    1
b    2
c    3
a    4
b    5
dtype: int64

In [72]:
len(ser)
max(ser)
min(ser)
list(ser)
sorted(ser)
sum(ser)
# Bhool jaao, yaad rkhne

15

In [73]:
# pandas series also has methods

In [74]:
ser

a    1
b    2
c    3
a    4
b    5
dtype: int64

In [83]:
ser.min()
ser.max()
ser.mean()
ser.mode()
ser.std()
ser.info()
ser.describe()

<class 'pandas.core.series.Series'>
Index: 5 entries, a to b
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [87]:
third_quartile = ser.describe()['75%']

In [88]:
third_quartile

4.0

In [89]:
# Implicit Indexing me numbers 0,1,2,3...., 
# Explicit Indexing me bhi numbers

In [90]:
ser = pd.Series([1,2,3,4,5],index = [1,2,3,4,5])

In [91]:
ser

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [92]:
ser[1] # explicit waale ko use krta hain
# yaad mt rkhna

1

In [93]:
ser[1:4] # implicit index
# implicit me last vaala count nhi hota
# explicit me last waala count hota he

2    2
3    3
4    4
dtype: int64

In [94]:
ser = pd.Series([1,2,3,4,5], index = list('abcde'))

In [95]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [96]:
ser[0:4]

a    1
b    2
c    3
d    4
dtype: int64

In [97]:
ser['a':'c'] # explicit indexing me slicing -- last waala included

a    1
b    2
c    3
dtype: int64

In [98]:
# Series object can also have attributes

In [99]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [101]:
ser.dtype

dtype('int64')

In [102]:
ser.ndim

1

In [103]:
ser.shape

(5,)

In [104]:
ser.size

5

In [105]:
ser.hasnans # yaad rkhna

False

In [106]:
# Series ojects are mutable

In [107]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [108]:
ser['a'] = 20

In [109]:
ser

a    20
b     2
c     3
d     4
e     5
dtype: int64

In [110]:
# series objects are mutable associative iterable container

In [111]:
for ele in ser:
    print(ele)

20
2
3
4
5

In [112]:
# membership testing
25 in ser

False

In [113]:
25 not in ser

True

In [116]:
dict(ser)

{'a': 20, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [117]:
my_dict = {'a': 20, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [118]:
# We can convert a dictionary into a series

In [130]:
ser = pd.Series(my_dict)

In [131]:
ser

a    20
b     2
c     3
d     4
e     5
dtype: int64

In [135]:
ser[[0,4]]

a    20
e     5
dtype: int64

In [136]:
ser[['a','e','e']]

a    20
e     5
e     5
dtype: int64

In [137]:
# iloc and loc are not functions

In [138]:
ser = pd.Series([1,2,3,4,5], index = [1,2,3,4,5])

In [139]:
ser

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [140]:
ser.iloc[1]
# ser.iloc(1) mt krna

2

In [141]:
ser.loc[1]

1

In [143]:
ser = pd.Series([1,2,3,4,5], index = list('abcde'))

In [144]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [145]:
# we can also do boolean masking inside a series object

In [146]:
ser == 1 # returns us a boolean series which is also called as mask

a     True
b    False
c    False
d    False
e    False
dtype: bool

In [147]:
ser[ser == 1]

a    1
dtype: int64

In [163]:
nba = pd.read_csv('data/nba.csv')

In [164]:
nba = nba['Name']

In [165]:
nba

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [166]:
nba.hasnans

True

In [167]:
nba.size

458

In [168]:
nba.shape

(458,)

In [169]:
nba.ndim

1

In [170]:
len(nba)

458

In [171]:
sorted(nba)

TypeError: '<' not supported between instances of 'float' and 'str'

In [172]:
# This method is used to fill Null values in a series with a specified value
nba.fillna('Unknown', inplace=True) # yaad rkhlo
# nba = nba.fillna('Unknown')

In [173]:
nba
# NaN ke saath 2 kaam -- ya toh drop krdo ya toh fill krdo

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457          Unknown
Name: Name, Length: 458, dtype: object

In [174]:
# apply , map

In [175]:
nba

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457          Unknown
Name: Name, Length: 458, dtype: object

In [177]:
pd.Series({key:len(nba[key]) for key in nba.index})

0      13
1      11
2      12
3      11
4      13
       ..
453    12
454     9
455    12
456    11
457     7
Length: 458, dtype: int64

In [178]:
nba

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457          Unknown
Name: Name, Length: 458, dtype: object

In [180]:
nba_lengths = nba.apply(len)

In [181]:
nba_lengths

0      13
1      11
2      12
3      11
4      13
       ..
453    12
454     9
455    12
456    11
457     7
Name: Name, Length: 458, dtype: int64

In [182]:
nba

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457          Unknown
Name: Name, Length: 458, dtype: object

In [184]:
def do_upper(name):
    return name.upper()

In [185]:
do_upper('Abhishek Jha')

'ABHISHEK JHA'

In [186]:
nba

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457          Unknown
Name: Name, Length: 458, dtype: object

In [187]:
nba.apply(do_upper)

0      AVERY BRADLEY
1        JAE CROWDER
2       JOHN HOLLAND
3        R.J. HUNTER
4      JONAS JEREBKO
           ...
453     SHELVIN MACK
454        RAUL NETO
455     TIBOR PLEISS
456      JEFF WITHEY
457          UNKNOWN
Name: Name, Length: 458, dtype: object

In [188]:
# itne pr khatam

# dropna(), fillna(), head(), tail(), map(), sort_values(), sort_index()
# value_counts(), copy()

# View and copy

In [195]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64